.list-group-item img {
    height: 100%;
    max-height: 30px;
    width: auto;
}

.gold-bg {
    background-color: #70cc9d ;
}

.silver-bg {
    background-color: #93dbac;
}

.bronze-bg {
    background-color: #c5e8d1;
}

.underline-hover {
    position: relative;
    text-decoration: none;
    color: #1E555C;
    transition: color 0.3s ease-in-out;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #1E555C;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.underline-hover:hover {
    color: #112F33; /* Darker color */
}

.underline-hover:hover::after {
    transform: scaleX(1);
    background-color: #112F33; /* Darker underline */
}

.darken-hover {
    position: relative;
    text-decoration: none;
    color: #1E555C;
    transition: color 0.3s ease-in-out;
}

.darken-hover:hover {
    color: #112F33;
}

.dugme {
    background-color: #94D4AE;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
.dugme:hover {
    background-color: #638B73;
}
